<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
  <clear/>
<add name="connectionString" connectionString="Data Source = 192.168.1.5,1433; Initial Catalog = food_service;User Id=use2;Password=user2"/>
</connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Admin.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>