<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="connectionString" providerName="Microsoft.Data.SqlClient" connectionString="data source = 192.168.99.1:1433\MSSQLSERVER19;Initial Catalog=food_service;User ID=sa;Password=CARAJOMEOLVIDE360"/>
  </connectionStrings>
</configuration>